:root {
  --primary-font: 'Roboto', sans-serif;
  --main-white-cl: #ffffff;
  --main-dark-cl: #434455;
  --accent-cl: #4d5ae5;
}
body {
  color: var(--main-dark-cl);
  background-color: var(--main-white-cl);
  font-family: var(--primary-font);
  font-size: 16px;
}
.container {
  width: 1128px;
  margin: 0 auto;
  padding: 0 15px;
}
/*Reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*header*/
.header-webstudio {
  height: 72px;
  display: flex;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-cl);
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
}
.header-logo-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-dark-cl);
  font-family: 'Raleway';
  text-transform: uppercase;
}
.header-webstudio-navigation {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.list {
  list-style: none;
}
.header-menu-item {
  font-weight: 500;
  line-height: 1.3;
}
.header-menu-link {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-item.link:hover,
.header-menu-item.link:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.mail .link:hover,
.mail .link:focus {
  color: #404bbf;
}
.address-link {
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-dark-cl);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.number .link:hover,
.number .link:focus {
  color: #404bbf;
}
.benefits-section-title {
  margin-bottom: 72px;
  color: var(--main-dark-cl);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.benefits-section {
  background-color: var(--page-color);
}
.work-section {
  background-color: var(--page-color);
}
.main-section {
  background-color: var(--page-color);
}
.team-section {
  background-color: var(--logo-background-light);
}
/*Section*/
.hero-section {
  padding: 188px 0;
  max-weight: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
.hero-title {
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--main-white-cl);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  color: var(--main-white-cl);
  background-color: var(--accent-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*Section 1*/
.benefits-section {
  padding: 120px 0;
}
.benefits-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.benefits-list-items {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
/*Section work*/
.work-section {
  padding-bottom: 120px;
}
.work-section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.work-section-list {
  display: flex;
  gap: 24px;
}
.work-list-item {
  width: calc((100% - 48px) / 3);
}
/*Section our team*/
.team-section {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-section-list {
  display: flex;
  gap: 24px;
}
.team-section-item {
  background-color: var(--main-white-cl);
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item-card {
  padding: 32px 16px;
}
.team-section-person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.team-section-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
/*section Customers*/
.customers-icon {
  fill: currentColor;
}
.customers-section-name {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
/*section portfolio*/
.webstudio-concept {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filters {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.btn {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4fd;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-cl);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  color: var(--main-white-cl);
  border: 1px solid transparent;
}
.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-title-list-img {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cards {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*Footer Index+Portfolio*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo,
.footer-logo-two {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-two {
  color: #d9d9d9;
}

.footer-logo {
  color: var(--accent-cl);
  display: inline-block;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.footer-descript {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  color: #f4f4fd;
}
.footer-content {
  margin-right: 120px;
}
